# CONFIG_MXC_GPU_VIV is not set
# CONFIG_MXC_HANTRO is not set
# CONFIG_MXC_SIM is not set
# CONFIG_MXC_IPU is not set
# CONFIG_MXC_HANTRO_845 is not set
# CONFIG_MXC_HANTRO_845_H1 is not set
# CONFIG_MXC_HANTRO_VC8000E is not set
